body {
  font-family: $font-family;
  background: $background-color;
  margin: 0;
  padding: 0; 
}

.editor {
  width: 80%;
  max-width: 800px;
  margin: 20px auto;
  background: $editor-background;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;

  &.fullscreen {
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    border-radius: 0;
  }
  
  .editor-toolbar {
    background: $toolbar-background;
    border-bottom: 1px solid $border-color;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;

    button, select, input[type="color"] {
      margin: 2px;
      padding: 5px 10px;
      cursor: pointer;
      border: 1px solid $border-color;
      background: $toolbar-button-bg;
      color: $primary-color;
      border-radius: 4px;
      min-height: 32px;
      transition: background 0.3s;
      outline: 0;

      svg {
        width: 16px;
        height: 16px;
      }

      &:hover {
        color: $background-color;
        background: $hover-background;
      }
    }
  }

  .editor-content {
    border: 1px solid $border-color;
    padding: 15px;
    background: $content-background;
    outline: none;
    min-height: calc(100vh - 95px);

    img {
      max-width: 100%;
      display: inline-block;
      margin: 5px 0;

      &.align-left {
        float: left;
        margin-right: 10px;
      }

      &.align-right {
        float: right;
        margin-left: 10px;
      }

      &.align-center {
        display: block;
        margin: 0 auto;
      }
    }

    .resizable {
      display: inline-block;
      max-width: 100%;

      .ui-resizable-handle {
        background: $resizable-handle-color;
        width: 8px;
        height: 8px;
        z-index: 90;
      }
    }
  }
}
