$primary-color: #06fbde;
$background-color: #f0f0f0;
$editor-background: #fff;
$toolbar-background: $primary-color;
$content-background: #fafafa;
$border-color: #ccc;
$hover-background: #e0e0e0;
$resizable-handle-color: $primary-color;