$primary-color: #17a2b8;
$background-color: #343a40;
$editor-background: #212529;
$toolbar-background: #495057;
$content-background: #343a40;
$border-color: #555;
$hover-background: #6c757d;
$resizable-handle-color: $primary-color;
$font-family: Arial, sans-serif;

@import 'base';
