$primary-color: #1e90ff;
$background-color: #d3d3d3;
$editor-background: #87cefa;
$toolbar-background: #4682b4;
$content-background: #b0c4de;
$border-color: #5f9ea0;
$hover-background: #6495ed;
$resizable-handle-color: $primary-color;
$font-family: Arial, sans-serif;

@import 'base';
